ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
img {

  border-radius: 50%;
}


  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  a {
  color: white;

  }

  .MainTitle {
    float: right;    
    margin: 0 300px 0 0;
  
  }

/* body {
  background-color: #E6E6FA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;


} */





.TextFooter {

text-align: center;
color: red;

}

footer {
  /* color: red;
   margin-top: auto; 
  text-align: center;
  padding: 12px; */
  /* background-color: #0033CC; */
/* 
  background-color: #333; */

  /* color: white; */

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #333;
  height: auto;
  width: 100vw;
  padding-top: 12px;
  color: #fff;
}
